{{ $parts := slice "heads" "torsos" "legs" }}
{{ $basePath := "minigames/3body" }}
{{ $arrow := partial "get-svg.html" "images/arrow.svg" }}
<div class="kko-minigame-3body">
  <div class="kko-minigame-body">
  {{ range $part := $parts }}
    {{ $pattern := printf "%s/%s/*.png" $basePath $part }}
    {{ $images := resources.Match $pattern }}
    {{ if $images }}
      <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>
        <ul class="uk-slider-items uk-child-width-1-1">
          {{ range $images }}
            <li>
              <img src="{{ .RelPermalink }}" alt="{{ $part | title }} - {{ .Name }}">
            </li>
          {{ end }}
        </ul>
        <a class="uk-position-center-left kko-arrow-left" href="#" uk-slider-item="next"><div>{{ $arrow }}</div></a>
        <a class="uk-position-center-right kko-arrow-right" href="#" uk-slider-item="previous"><div>{{ $arrow }}</div></a>
      </div>
    {{ else }}
      <p>Warning: No images found for {{ $part }} in {{ $pattern }}</p>
    {{ end }}
  {{ end }}
  </div>
</div>
{{ partial "minigame-footer.html" . }}
