{{/*
  get-group-data.html
  
  Returns group data for a given page context
  
  Usage: {{ $groupData := partial "get-group-data.html" . }}
  
  Returns a dict with:
  - siteName: Name of the site
  - groupName: Name of the group (if any)
  - groupColor: Color for the group/site
  - groupIcon: Icon for the group/site
  - siteData: Full site data object
  - groupData: Full group data object (if any)
*/}}

{{ $site := .Params.site }}
{{ $group := .Params.group }}
{{ $siteData := index .Site.Data.sites $site }}
{{ $siteName := $siteData.Name | default $site }}
{{ $groupData := "" }}
{{ $groupColor := "" }}
{{ $groupIcon := "" }}
{{ $groupName := "" }}

{{/* Validation and warnings */}}
{{ if not $site }}
  {{ warnf "Missing 'site' parameter for blog post '%s' in %s" .Title .File.Path }}
{{ else if not $siteData }}
  {{ $validSites := slice }}
  {{ range $k, $_ := .Site.Data.sites }}{{ $validSites = $validSites | append $k }}{{ end }}
  {{ warnf "Invalid 'site' parameter '%s' for blog post '%s' in %s. Valid sites: %s" $site .Title .File.Path (delimit (sort $validSites) ", ") }}
{{ end }}

{{/* Process group data */}}
{{ if not $group }}
  {{ $groupIcon = "kko.svg" }}
  {{ $groupColor = $siteData.Color }}
{{ else if $siteData }}
  {{ $groupData = index $siteData.Groups $group }}
  {{ if not $groupData }}
    {{ $validGroups := slice }}
    {{ range $k, $_ := $siteData.Groups }}{{ $validGroups = $validGroups | append $k }}{{ end }}
    {{ warnf "Invalid 'group' parameter '%s' for site '%s' in blog post '%s' in %s. Valid groups: %s" $group $site .Title .File.Path (delimit (sort $validGroups) ", ") }}
  {{ else }}
    {{ $groupColor = $groupData.Color }}
    {{ $groupIcon = $groupData.Icon }}
    {{ $groupName = $groupData.Name }}
  {{ end }}        
{{ end }}

{{/* Return the data as a dict */}}
{{ return (dict 
  "siteName" $siteName 
  "groupName" $groupName 
  "groupColor" $groupColor 
  "groupIcon" $groupIcon
  "siteData" $siteData
  "groupData" $groupData
) }}