{{/*
  get-team-image.html

  Returns a processed image for a team member

  Usage: {{ $image := partial "get-team-image.html" (dict "picture" $picture "name" $name) }}

  Returns an image resource or empty string if none available
*/}}

{{ $picture := .picture }}
{{ $site := .site }}

{{ $imagePath := printf "images/team/%s/%s" $site $picture }}
{{ $imageResource := resources.Get $imagePath }}
{{ $finalImage := "" }}

{{ if not $imageResource }}
  {{ warnf "get-team-image.html: no image at %q, falling back to placeholder" $imagePath }}
  {{ $imageResource = resources.Get "images/team/Coming_Soon.jpg" }}
{{ end }}

{{ if $imageResource }}
  {{ $finalImage = $imageResource.Fill "400x400 webp q90 top" }}
{{ end }}

{{ return $finalImage }}
