{{/*
  get-team-image.html

  Returns a processed image for a team member

  Usage: {{ $image := partial "get-team-image.html" (dict "picture" $picture "name" $name) }}

  Returns an image resource or empty string if none available
*/}}

{{ $picture := .picture }}
{{ $site := .site }}

{{ $imagePath := printf "images/team/%s/%s" $site $picture }}
{{ $imageResource := resources.Get $imagePath }}
{{ $finalImage := "" }}

{{ if $imageResource }}
  {{ $finalImage = $imageResource.Fill "400x400 webp q90 top" }}
{{ else }}
  {{ $pictureHash := sha256 $picture }}
  {{ $seed := substr $pictureHash 0 8 }}
  {{ $placeholderUrl := printf "https://thispersondoesnotexist.com/?seed=%s" $seed }}
  {{ $placeholderResource := resources.GetRemote $placeholderUrl }}
  {{ if $placeholderResource }}
    {{ $smallImage := $placeholderResource.Resize "50x50" }}
    {{ $pixelatedImage := $smallImage.Resize "400x400" }}
    {{ $finalImage = $pixelatedImage.Fill "400x400 webp q90" }}
  {{ end }}
{{ end }}

{{ return $finalImage }}
