{{ $menu := .Site.Data.menu }} 
{{ $arrow := partial "get-svg.html" "images/arrow.svg" }} 
{{/* Render the menu with the color logo and main links */}}
<div class="kko-menu">
  <a href="/" style="color: inherit; text-decoration: inherit;">
    <div class="kko-color-logo">
      {{- partial "get-svg.html" "images/kko-color-head.svg" -}}
    </div>
    <div class="kko-name">Kinderkrippe<br />Olten</div>
  </a>    
  <div class="kko-main-menu">
    {{ range $menu.mainlinks }}
    <a href="{{ .href }}"
      ><div class="kko-menu-item kko-color-{{ .color }}">
        <span class="kko-arrow">{{ $arrow }}</span>{{ .title }}
      </div></a
    >
    {{ end }}
  </div>
  <div class="kko-sub-menu">
    {{ range $menu.sublinks }}
    <a href="{{ .href }}"
        ><div class="kko-menu-item">
      <span class="kko-arrow">{{ $arrow }}</span>{{ .title }}
    </div></a
      >
    {{ end }}
  </div>
</div>
