<div class="uk-container-expanded kko-team-grid">
<div class="uk-container">
  {{ $currentSection := "" }}
  {{ $gridOpen := false }}
  {{ $siteFilter := "" }}
  {{ if isset . "siteFilter" }}{{ $siteFilter = .siteFilter }}{{ end }}
  
  {{ range $.Site.Data.team }}
    {{ if reflect.IsMap . }}
      {{ if .sect }}
        {{ if $gridOpen }}
          </div>
          {{ $gridOpen = false }}
        {{ end }}
        {{ $currentSection = .sect }}
        {{ if not $siteFilter }}
        <h2>{{ $currentSection }}</h2>
        {{ end }}
        <div class="uk-grid uk-grid-medium uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l" uk-grid>
        {{ $gridOpen = true }}
      {{ else if .firstname }}
        {{ $firstname := .firstname }}
        {{ $lastname := .lastname }}
        {{ $function := .function }}
        {{ $site := .site }}
        {{ $group := .group }}
        {{ $picture := .picture }}
        
        {{ if or (not $siteFilter) (eq $site $siteFilter) }}
        <div>
          {{ partial "render-team-card.html" (dict "firstname" $firstname "lastname" $lastname "function" $function "picture" $picture "site" $site "group" $group "Site" $.Site) }}
        </div>
        {{ end }}
      {{ end }}
    {{ else if eq . "break" }}
      {{ if $gridOpen }}
        </div>
        <div class="uk-grid uk-grid-medium uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l" uk-grid>
      {{ end }}
    {{ end }}
  {{ end }}
  
  {{ if $gridOpen }}
    </div>
  {{ end }}
</div>
</div>