<div class="uk-container-expanded kko-team">
<div class="uk-container">
{{ $siteFilter := "" }}
{{ $title := "Unser Team" }}
{{ if isset . "siteFilter" }}{{ $siteFilter = .siteFilter }}{{ end }}
{{ if isset . "title" }}{{ $title = .title }}{{ end }}
<h2>{{ $title }} </h2>
  <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
    uk-slider="finite: false; autoplay: true; autoplay-interval: 2000;">
    <ul class="uk-slider-items">
      {{ range $.Site.Data.team }}
        {{ if and (reflect.IsMap .) .firstname }}
          {{ $firstname := .firstname }}
          {{ $lastname := .lastname }}
          {{ $function := .function }}
          {{ $site := .site }}
          {{ $group := .group }}
          {{ $picture := .picture }}
          {{ $sect := .sect }}

          {{ if and (not $sect) (or (not $siteFilter) (eq $site $siteFilter)) }}
            <li>
              {{ $teamLink := "/team/" }}
              {{ if $siteFilter }}{{ $teamLink = printf "/team/%s/" $siteFilter }}{{ end }}
              <a href="{{ $teamLink }}" class="uk-link-reset">
                {{ partial "render-team-card.html" (dict "firstname" $firstname "lastname" $lastname "function" $function "picture" $picture "site" $site "group" $group "Site" $.Site) }}
              </a>
            </li>
          {{ end }}
        {{ end }}
      {{ end }}
    </ul>
        <ul class="uk-hidden uk-visible@s uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
  </div>
</div>
</div>