<div class="uk-container-expanded kko-blog">
<div class="uk-container">
<h2>Kita-Geschichten</h2>
  <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
    uk-slider="finite: false; autoplay: true; autoplay-interval: 7000;">
    <ul class="uk-slider-items">
      {{ range where .Page.Site.RegularPages "Section" "blog" }}
        {{ $groupInfo := partial "get-group-data.html" . }}
        {{ $title := .Params.TeaserTitle | default .Title }}
        {{ $date := .Date }}
        {{ $teaser := .Resources.GetMatch "teaser.*" }}
        {{ $teaserImage := "" }}
        {{ if $teaser }}{{ $teaserImage = $teaser.Fill "400x300 webp" }}{{ end }}

        {{ if not .Date }}
          {{ warnf "Missing 'date' parameter for blog post '%s' in %s" .Title .File.Path }}
        {{ end }}
        <li>
        <a href="{{ .RelPermalink }}" class="uk-link-reset">
          <div class="uk-card uk-card-default uk-card-hover {{ if $groupInfo.groupColor }}kko-color-{{ $groupInfo.groupColor }}{{ end }}">
            {{ with .Resources.GetMatch "teaser.*" }}
              {{ $webp := .Fill "400x300 webp" }}
              <div class="uk-card-media-top">
                <img src="{{ $webp.RelPermalink }}" alt="{{ .Title }}" />
              </div>
            {{ else }}
              {{ warnf "No teaser image found for blog post '%s'. Add a teaser.* file to %s" .Title .File.Dir }}
            {{ end }}
            <div class="uk-card-body ">
              <div class="kko-blog-content">
                <h3 class="uk-card-title">
                  {{ $title }}
                </h3>
              </div>
              <div class="kko-blog-footer">
                <div class="kko-blog-icon">
                  {{ partial "get-svg.html" (dict "path" (printf "images/icons/%s" $groupInfo.groupIcon) "class" "kko-group-icon") }}
                </div>
                <div class="kko-blog-meta">
                {{ $groupInfo.siteName }}{{ if $groupInfo.groupName }}, {{ $groupInfo.groupName }}{{ end }}<br>
                {{ .Date.Format "02.01.2006" }}
                </div>
            </div>
          </div></a>
        </li>
      {{ end }}
    </ul>


    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
  </div>
</div>
</div>