{{ $background := .background }}
{{ $backgroundClass := "" }}
{{ if $background }}
  {{ $backgroundClass = printf "kko-background-%s" $background }}
{{ end }}
<div class="uk-container-expanded kko-team {{ $backgroundClass }}">
<div class="uk-container">
{{ $siteFilter := "" }}
{{ $title := "Unser Team" }}
{{ if isset . "siteFilter" }}{{ $siteFilter = .siteFilter }}{{ end }}
{{ if isset . "title" }}{{ $title = .title }}{{ end }}
<h2>{{ $title }} </h2>
  <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
    uk-slider="finite: false; autoplay: true; autoplay-interval: 2000;">
    <ul class="uk-slider-items">
      {{ range $index, $member := $.Site.Data.team }}
        {{ if and (reflect.IsMap $member) $member.firstname }}
          {{ $firstname := $member.firstname }}
          {{ $lastname := $member.lastname }}
          {{ $function := $member.function }}
          {{ $site := $member.site }}
          {{ $group := $member.group }}
          {{ $picture := $member.picture }}
          {{ $sect := $member.sect }}
          {{ $education := $member.education }}

          {{ if and (not $sect) (or (not $siteFilter) (eq $site $siteFilter)) }}
            <li>
              {{ $teamLink := "/team/" }}
              {{ if $siteFilter }}{{ $teamLink = printf "/team/%s/" $siteFilter }}{{ end }}

              {{/* Build tooltip content if education exists */}}
              {{ $tooltipContent := "" }}
              {{ if $education }}
                {{ $tooltipContent = "<strong>Ausbildung:</strong><br>" }}
                {{ range $education }}
                  {{ $tooltipContent = printf "%s• %s<br>" $tooltipContent . }}
                {{ end }}
              {{ end }}

              <a href="{{ $teamLink }}" class="uk-link-reset" {{ if $tooltipContent }}uk-tooltip="title: {{ $tooltipContent }}; pos: top"{{ end }}>
                {{ partial "render-team-card.html" (dict "firstname" $firstname "lastname" $lastname "function" $function "picture" $picture "site" $site "group" $group "Site" $.Site) }}
              </a>
            </li>
          {{ end }}
        {{ end }}
      {{ end }}
    </ul>
        <ul class="uk-hidden uk-visible@s uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
  </div>
</div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  // Find all team sliders
  const teamSliders = document.querySelectorAll('.kko-team [uk-slider]');

  teamSliders.forEach(function(sliderElement) {
    // Get the UIkit slider component
    UIkit.util.on(sliderElement, 'itemshown', function() {
      // Reinitialize tooltips on all visible links after slide change
      const links = sliderElement.querySelectorAll('a[uk-tooltip]');
      links.forEach(function(link) {
        // Remove and re-add the tooltip component
        if (UIkit.tooltip(link)) {
          UIkit.tooltip(link).$destroy();
        }
        UIkit.tooltip(link);
      });
    });
  });
});
</script>