
// Configurable minimum height for two-column layout
$kko-menu-min-height: 800px !default;

.kko-menu {
  container: kko-menu / size;
  background-color: $kko-base-blue;
  color: $kko-base-beige;
  padding-left: 5cqw;
  padding-top: 3c;
  height: calc(100vh - #{$kko-border-stripe-width * 3});
  max-width: 100%;
  left: 0;

  @media (min-width: $breakpoint-small) {
    height: 100vh;
    width:600px;
  }

  // Two-column layout for sub-menu on shorter screens
  // May be a bit too simplistic but works ok in practice
  // Done by Claude with some manual adjustments by Fritz
  @media (max-height: $kko-menu-min-height) {
    .kko-sub-menu {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 25cqw;
      align-content: flex-start;
      justify-content: flex-start;
      gap: 0 2rem;
      max-width: calc(40% + 2rem + 35%);

      a {
        width: 25%;

        .kko-menu-item {
          white-space: nowrap;
        }
      }
    }
  }

  a {
    text-decoration: none;
  }

  .kko-color-logo {
    margin-bottom: 3cqw;
    margin-top: 6cqw;
    svg {
      width: 20cqw;
    }
  }

  .kko-name {
    font-size: 12cqw;
    line-height: 1.1;
    font-weight: 500;
    margin-bottom: 6cqw;
  }

  .kko-main-menu {
    display: inline-block;
    padding: 0;
    margin: 0;

    .kko-menu-item {
      position: relative;
      margin-bottom: 1.5cqw;
      color: $kko-base-blue;
      padding: 1.3cqw 3cqw;
      border-radius: 100cqw;
      font-size: 3.2cqw;

      span {
        display: inline-block;
        padding-right: 0.8cqw;

        svg {
          fill: $kko-base-blue;
          width: 3.5cqw;
          height: auto;
          padding-bottom: 0.5cqw;
        }
      }

      &.kko-color-green {
        background-color: $kko-base-green;
      }

      &.kko-color-red  {
        background-color: $kko-base-red;
      }

      &.kko-color-yellow  {
        background-color: $kko-base-yellow;
      }

      &.kko-color-blue  {
        background-color: $kko-blog-light-blue;
      }
    }
  }

  .kko-sub-menu {
    margin-top: 5cqw;
    padding-left: 3cqw;

    .kko-menu-item {
      margin-bottom: 0.8cqw;
      color: $kko-base-beige;
      font-size: 3.2cqw;

      span {
        padding-right: 0.8cqw;

        svg {
          width: 3.5cqw;
          fill: $kko-base-beige;
          padding-bottom: 1cqw;
        }
      }
    }
  }
}
