body.kko-bookmark-active header.kko-header div.kko-pulldown-menu {
  top: #{$kko-border-stripe-width * 3};

  @media (min-width: $breakpoint-small) {
    top: 0;
  }

  transition: top 0.4s ease-in;
}

header.kko-header {
  container: kko-header / size;
  position: relative;
  height: 1px;
  margin-bottom: -1px;
  ;

  .kko-logo {
    display: none;
  }

  .kko-pulldown-menu {
    display: block;
    position: absolute;
    right: 0;
    width: 100%;

    @media (min-width: $breakpoint-small) {
      width: 50%;
    }

    top: calc(-100vh + #{$kko-border-stripe-width * 6});

    @media (min-width: $breakpoint-small) {
      top: -100vh;
    }

    transition: top 0.1s ease-out;
  }

  .kko-close-button,
  .kko-bookmark {
    background: none;
    border: none;
    padding: 0;
  }

  .kko-close-button {
    position: absolute;
    top: 5cqw;
    right: 7cqw;
    width: 12cqw;

    @media (min-width: $breakpoint-small) {
      width: 4cqw;
      right: 5cqw;
      top: 2cqw
    }

    svg {
      width: 100%;
      height: auto;

      polygon#bookmark {
        fill: none !important;
      }

      path#burger {
        fill: none !important;
      }

      g#cross rect {
        fill: $kko-base-beige !important;
      }
    }
  }

  @media (min-width: $breakpoint-small) {
    &.kko-menu-page-inserted:not(.kko-header-active) .kko-bookmark {
      display: none;
    }
  }

  .kko-bookmark {
    width: 10cqw;
    right: 8cqw;
    display: block;

    @media (min-width: $breakpoint-small) {
      width: 4cqw;
      right: 5cqw;
    }

    position: absolute;
    height: 0;

    svg {
      width: 100%;
      height: auto;

      polygon#bookmark {
        fill: $kko-base-blue !important;
      }

      path#burger {
        fill: $kko-base-beige !important;
      }

      g#cross rect {
        fill: none !important;
      }
    }
  }


  @media (max-width: $breakpoint-small) {
    padding-top: $kko-border-stripe-width * 3;
    height: $kko-border-stripe-width * 3;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 10;
      ;
      height: $kko-border-stripe-width * 3;
      background-image: linear-gradient(to bottom,
          $kko-base-yellow 0rem, $kko-base-yellow $kko-border-stripe-width ,
          $kko-base-red $kko-border-stripe-width, $kko-base-red $kko-border-stripe-width * 2,
          $kko-base-green $kko-border-stripe-width * 2, $kko-base-green $kko-border-stripe-width * 3,
        );
    }

    .kko-logo {
      position: absolute;
      display: block;
      top: calc(4cqw + #{$kko-border-stripe-width * 3});
      left: 5cqw;
      width: 70cqw;

      svg {
        width: 100%;

        path {
          fill: $global-color;
        }
      }

    }

    &.uk-sticky-below .kko-logo {
      display: none;
    }

  }



}