.kko-minigame-footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  background-color: $kko-blog-grey-blue;
  height: $kko-border-stripe-width * 3;

  .kko-minigame-down-arrow {
    overflow: hidden;
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;

    div {
      position: relative;
      z-index: 2;
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
      background-color: $kko-base-blue;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      border-width: 0;
      width: 3.5rem;
      height: 3.5rem;
      display: flex;
      flex-direction: row;

      svg {
        transform: rotate(90deg);
        width: 100%;
        height: auto;
        padding: 0.6rem;

        path {
          fill: $kko-base-beige;
        }
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $kko-border-stripe-width * 3;
    background-image: linear-gradient(to bottom,
        $kko-base-green 0rem, $kko-base-green $kko-border-stripe-width,
        $kko-base-red $kko-border-stripe-width, $kko-base-red $kko-border-stripe-width * 2,
        $kko-base-blue $kko-border-stripe-width * 2, $kko-base-blue $kko-border-stripe-width * 3);
    z-index: 1;
  }
}

@media (min-width: $breakpoint-small) {
  .kko-minigame-footer {
    display: none;
  }
}

.kko-minigame-body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.kko-minigame-3body {
  background-color: $kko-base-yellow;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;  
  @media (max-width: $breakpoint-small) {
    height: calc(100vh - #{$kko-border-stripe-width * 6});
  }

  @media (min-width: $breakpoint-small) {
    .uk-slider:hover {

      .kko-arrow-left,
      .kko-arrow-right {
        display: block;
      }
    }

    .kko-arrow-left,
    .kko-arrow-right {
      display: none;
    }
  }

  .kko-arrow-left,
  .kko-arrow-right {
    overflow: hidden;
    width: 2rem;
    height: 2.1rem;

    div {
      position: absolute;
      right: -0.5rem;
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
      background-color: $kko-base-beige;
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      width: 2rem;
      height: 2rem;
      display: flex;

      svg {
        padding: 0.2rem;
      }
    }
  }

  .kko-arrow-left {
    transform: rotate(180deg);
    transform-origin: 50% 25%;
  }

  @media (max-width: $breakpoint-small) {
    img {
      height: 23vh;
      object-fit: cover;
    }
  }
}
