
.kko-menu {
  container: kko-menu / size;
  background-color: $kko-base-blue;
  color: $kko-base-beige;
  padding-left: 5cqw;
  padding-top: 0;
  height: calc(100vh - #{$kko-border-stripe-width * 3});
  @media (min-width: $breakpoint-small) {
    height: 100vh;
  }
  width: 100%;
  left: 0;
  a {
    text-decoration: none;
  }

  .kko-color-logo {
    svg {
      width: 20cqw;
    }

    margin-bottom: 3cqw;
    margin-top: 3cqw;
  }

  .kko-name {
    font-size: 12cqw;
    line-height: 1.1;
    font-weight: 500;
    margin-bottom: 6cqw;
  }

  .kko-main-menu {
    display: inline-block;
    padding: 0;
    margin: 0;

    .kko-menu-item {
      position: relative;
      margin-bottom: 1.5cqw;

      a {
        width: 100%;
        color: $kko-base-blue;
        display: inline-block;
        padding: 1.3cqw 1cqw;
        border-radius: 100cqw;
        font-size: 3.2cqw;

        span {
          display: inline-block;
          padding-left: 2cqw;
          padding-right: 0.8cqw;

          svg {
            fill: $kko-base-blue;
            width: 3.5cqw;
            height: auto;
            padding-bottom: 0.5cqw;
          }
        }
      }


      &.kko-color-green a {
        background-color: $kko-base-green;
      }

      &.kko-color-red a {
        background-color: $kko-base-red;
      }

      &.kko-color-yellow a {
        background-color: $kko-base-yellow;
      }

      &.kko-color-blue a {
        background-color: $kko-blog-light-blue;
      }
    }
  }

  .kko-sub-menu {
    margin-top: 5cqw;
    padding-left: 3cqw;

    .kko-menu-item {
      margin-bottom: 0.8cqw;

      a {
        color: $kko-base-beige;
        font-size: 3.2cqw;
        span {
          padding-right: 0.8cqw;

          svg {
            width: 3.5cqw;
            fill: $kko-base-beige;
            padding-bottom: 1cqw;
          }
        }
      }
    }
  }
}
