.kko-team {
    margin-top: 3rem;
    margin-bottom: 4rem;
    .uk-slider-items {
        gap: 1rem;
        
        width: 60vw;
        @media (min-width: $breakpoint-small) {
            width: 200px;
        }
    }
    .uk-card {
        aspect-ratio: 3 / 5;
        display: flex;
        flex-direction: column;
        
        .uk-card-media-top {
            flex: 3;
            overflow: hidden;
            
            img {
                object-fit: cover;
            }
        }
        
        .uk-card-body {
            flex: 2;
            overflow: hidden;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            
            h3 {
                font-size: 1.5rem;
                color: $kko-base-blue;
                text-decoration: none;
                line-height: 1.2;
            }
            .kko-team-meta {
                font-size: 1rem;
                span {
                    white-space: nowrap;
                }
            }
        }
    }
}

.kko-team-grid {
    margin-top: 2rem;
    margin-bottom: 4rem;
    
    h2 {
        color: $kko-base-blue;
        margin-top: 3rem;
        margin-bottom: 1.5rem;
        font-size: 2.5rem;
        &:first-child {
            margin-top: 0;
        }
    }

    h3 {
        line-height: 1.15;
    }
    
    .uk-grid {
        margin-bottom: 2rem;
    }
    
    .uk-card {
        aspect-ratio: 3 / 5;
        display: flex;
        flex-direction: column;
        
        .uk-card-media-top {
            flex: 3;
            overflow: hidden;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
        .uk-card-body {
            flex: 2;
            overflow: hidden;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
    }
    
    h3 {
        color: $kko-base-blue;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    
    .kko-team-meta {
        font-size: 0.85rem;
        color: $kko-base-blue;
        line-height: 1.3;
    }
}

.kko-team-page {
    background-color: $kko-base-beige;
    
    .kko-team-title {
        color: $kko-base-blue;
        margin-bottom: 2rem;
    }
    
    .kko-team-content {
        padding: 2rem 0;
    }
}