{{ define "main" }}
{{ $groupInfo := partial "get-group-data.html" . }}
<div class="kko-blog-single kko-single-page">
{{ partial "single-page-header.html" . }}
<div class="uk-container uk-container-xsmall">
    <div class="kko-blog-content kko-single-page-content">
    <h1 class="kko-blog-title">{{ .Title }}</h1>
    <div class="kko-blog-byline">
        {{ partial "get-svg.html" (dict "path" (printf "images/icons/%s" $groupInfo.groupIcon) "class" "kko-group-icon") }}
        <div class="kko-blog-meta">
                {{ $groupInfo.siteName }}{{ if $groupInfo.groupName }}, {{ $groupInfo.groupName }}{{ end }}<br>
                {{ .Date.Format "02.01.2006" }}
        </div>
    </div>
    {{ .Content }}
    </div>
  </div>
</div>
{{ end }}
