{{ $menu := .Site.Data.menu }} {{ $arrow := partial "get-svg.html"
"images/arrow.svg" }} {{/* Render the menu with the color logo and main links
*/}}
<div class="kko-menu">
  <div class="kko-color-logo">
    {{- partial "get-svg.html" "images/kko-color-head.svg" -}}
  </div>
  <div class="kko-name">Kindekrippe<br />Olten</div>
  <div class="kko-main-menu">
    {{ range $menu.mainlinks }}
    <div class="kko-menu-item kko-color-{{ .color }}">
      <a href="{{ .href }}"
        ><span class="kko-arrow">{{ $arrow }}</span>{{ .title }}</a
      >
    </div>
    {{ end }}
  </div>
  <div class="kko-sub-menu">
    {{ range $menu.sublinks }}
    <div class="kko-menu-item">
      <a href="{{ .href }}"
        ><span class="kko-arrow">{{ $arrow }}</span>{{ .title }}</a
      >
    </div>
    {{ end }}
  </div>
</div>
