<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
{{- partial "head.html" . -}}
<body>
    {{- partial "kko-header.html" . -}}
    {{- block "main" . }}{{- end }}
    {{- partial "kko-footer.html" . -}}
    {{- partial "kko-open-links-external.html" . -}}
    {{- partial "landscape-warning.html" . -}}


    <!-- Search Overlay -->
    <div id="kko-search-overlay" class="kko-search-overlay">
      <div class="kko-search-container">
        <div class="kko-search-header">
          <div class="kko-search-input-wrapper">
            <input type="search" id="kko-search-input" placeholder="Suchen ..." class="kko-search-input" autocomplete="off">
            <svg class="kko-search-input-icon" width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <circle fill="none" stroke="currentColor" stroke-width="2" cx="9" cy="9" r="5" />
              <line stroke="currentColor" stroke-width="2" stroke-linecap="round" x1="13" y1="13" x2="18" y2="18" />
            </svg>
          </div>
        </div>
        <div id="kko-search-results" class="kko-search-results"></div>
      </div>
    </div>
</body>
</html>
